.footer{
	background-color: rgb(48, 48, 48);
	color: white;
	bottom: 0;
	width: 100%;
	position: absolute;
	height: 100px;
	text-align: center;
}

.footer ul{
	margin-bottom: 0;
	padding-bottom: 10px;
}

.footer a:hover{
	text-decoration: underline;
}


/*@media screen and (max-width: 768px) {
	.footer{
		margin-bottom: 50px !important;
	}
}*/