div > input {
	width:300px !important;
}

.MuiOutlinedInput-input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 30px transparent inset !important;
}

.recoverPasswordDiv form{
	display: grid;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 3rem;
}

.recoverPasswordDiv form button{
	margin-top: 20px !important;
}

@media screen and (max-width: 768px) {
	.recoverPasswordDiv .MuiFormControl-root{
		width: 320px;
	}
}